<!doctype html>
<html lang="en">
  <head>
      <title>Melanin Mix Online</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="custom.css">

  </head>
  <body style="background: #ffeded; font-family:'Raleway',sans-serif;" >

<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg text-white">
  <a class="navbar-brand order-1" href="{% url "home" %}">Melanin<br>Mix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "about" %}">Our Mission <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "bio" %}">Bios</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>
 <div class="jumbotron jumbotron-fluid" style="background-image:{{ pic }};background-size:cover;">
  <h1 class="display-1 text-center mx-auto text-white">{% block page %}{% endblock %}</h1>
  <p class="lead text-center text-white">{% block blurb %}{% endblock %}</p>

  </div>
    {% block content %}
{% endblock %}
   <div class="container position-static mt-5 mb-n4 align-text-bottom">
  <footer>
    <div class="container">
      <div class="d-inline-block ml-0">
    <button class="btn btn-danger">Subscribe</button>
      </div>
      <p class="text-center">
    <span class="align-bottom"><a href="http://www.facebook.com/The-Melanin-Mix-2329696690647702/" class="fab fa-facebook"></a></span>
    <span class="align-bottom"><a href="http://www.instagram.com/themelaninmix" class="fab fa-instagram"></a></span>
      <span class="align-bottom"><a href="http://www.youtube.com" class="fab fa-youtube"></a></span>
      <span class="align-bottom"><a href="mailto:themelaninmix@gmail.com" class="fas fa-envelope"></a></span>
          </p>
          </div>
  </footer>
      </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>