{% extends 'base.html' %}
{% load static %}

{% block page %}
Meet the Hosts
{% endblock %}
{% block content %}
{% if bios %}

    <ul>
    {%  for bio in bios %}
<div class="card mb-3 mx-auto w-65 h-80">
  <img src="{% static 'karly/2019/07/22/terry-crews-person-of-year-2017-time-magazine-2.jpg' %}" class="card-img-top" alt="{{ bio.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ bio.name }}</h5>
    <p class="card-text">{{ bio.bio }}</p>
  </div>
</div>
    {% endfor %}
    </ul>
    {% else %}
    <h1>Error occurred, Contact Admin!</h1>
{% endif %}
{% endblock content %}
