{% extends 'base.html' %}
{% load static %}

{% block page %}
Meet the Hosts
{% endblock %}
{% block content %}


<div class="card mb-3 mx-auto w-65 h-80">
  <img src="{% static 'karly/karly.jpeg' %}" class="card-img-top" alt="Karly">
  <div class="card-body">
    <h5 class="card-title">Karly</h5>
    <p class="card-text">{{ bio.bio }}</p>
  </div>
</div>
        <div class="card mb-3 mx-auto w-65 h-80">
        <img src="{% static 'karly/amber.JPG' %}" class="card-img-top" alt="Amber">
      <div class="card-body">
    <h5 class="card-title">Amber</h5>
    <p class="card-text">{{ bio.bio }}</p>
  </div>
</div>

{% endblock content %}
